.lessonMenu nav button {
	background: linear-gradient(to top, var(--base02), var(--base03));
	color: var(--base3);
}

.lessonMenu nav #first {
	border: 1px solid var(--green);
}
.lessonMenu nav #second {
	border: 1px solid var(--yellow);
}
.lessonMenu nav #third {
	border: 1px solid var(--blue);
}

.lessonMenu nav button:hover {
	background: var(--base02);
}

pre {
	background: var(--base02);
}

.table1 {
	--table-theme: var(--base02);
}

.table1 tbody tr:nth-of-type(even) {
	background: var(--base03);
}

.sidebar {
	background: var(--base02);
}

.sidebar ul li button {
	color: var(--base3);
}

.sidebar ul li button:hover {
	background: var(--base03);
}

input {
	background: var(--base02);
	color: var(--base3);
	border: 1px solid var(--base3);
}

code {
	color: var(--green);
}
