.lessonMenu nav button {
	background: linear-gradient(to top, #23272A, #2c2f33);
	border: 2px solid #23272A;
	color: white;
}

.lessonMenu nav button:hover {
	background: #2c2f33;
}

.table1 {
	--table-theme: #2c2f33;
}

.table1 tbody tr:nth-of-type(even) {
	background: #2c2f33;
}

pre {
	background: #2c2f33;
}

.sidebar {
	background: #2c2f33;
}

.sidebar ul li a {
	color: white;
}

input {
	background: #2c2f33;
	color: white;
	border: 1px solid whitesmoke;
}

code {
	color: lime;
}
